.delete-iphone-container {
    background-color: #ff3b30;
    border-radius: 25px;
    padding: 25px;
    margin:  10px;
}

.delete-form {
    display: flex;
    flex-direction: column;
}

.id-dropdown {
    margin: 50px;
    padding: 25px;
    border: none;
    font-size: 1.2rem;
}
