.home-container {
    display: flex;
    flex-direction: row;
}

.latest-iphone-repair-container {
    display: flex;
    flex-direction: column;
    background-color: green;
    padding: 100px;
    margin: 20px;
    border-radius: 25px;
    width: 50vw;
}

.latest-blog-container {
    display: flex;
    flex-direction: column;
    background-color: green;
    padding: 100x;
    margin: 20px;
    border-radius: 25px;
    width: 50vw;
}