body {
    font-family: 'Roboto';
}


#ip-co {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    border-radius: 25px;
    padding: 50px;
    margin: 20px;
}


#ex-ip-co {
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 25px;
    padding: 50px;
    margin: 20px;
}

.text-container {
    text-align: center;
}

.iphone-model{
    font-size: large;
    font-style: bold;
}
.iphone-image {
    border-radius: 25px;
    padding: 25px;
    height: auto;
}

.expanded-repairs-list > ul {
    flex-direction: column;
}


/*  hover css */

#ip-co:hover {
    background-color: #0a84ff;
    transform: scale(1.05);
    color: white;
    cursor: pointer;
}

.expanded-repairs-list > ul> li:hover{
    color: brown;
}

#ex-ip-co:hover {
    background-color: #0a84ff;
    transform: scale(1.05);
    color: white;
    cursor: pointer;   
}




