body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto'
}

.nav-container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: lightgray;
    text-align: center;
    height: 75px;
    padding: 15px;
}

.logo {
    padding: 12px;
}

img {
    width: 50px;
}

ul {
    list-style: none;
    text-decoration: none;
    display:flex;
    padding: 20px;
    
}

li {
    padding: 20px;
    font-size: 1.2rem;
}

.hamburger-icon {
    display: none;
    font-size: 3rem;
    font-weight: bolder;
}

.logo:hover {
    background-color: rgb(10,132,255);
    border-radius: 35px;
    transform: scale(0.9);
}

li:hover {
    transform: scale(1.05);
    cursor:pointer;
    color: rgb(10,132,255);
}


@media only screen and (max-width: 600px) {


    .hamburger-icon {
        display: block;
    }

    ul {
        display: none;
      }
}
